<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nerdcircus.android.hiveminder"
    android:versionCode="5"
    android:versionName="0.5">
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:icon="@drawable/bee">
        <meta-data android:name="android.app.default_searchable"
            android:value=".TaskListActivity" />
        <activity android:name="Login" android:label="Hiveminder Login">
            <intent-filter>
                <action android:name="org.nerdcircus.android.hiveminder.LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- stuff needed to make login appear in launcher.
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                -->
            </intent-filter>
        </activity>
        <activity android:name="Braindump" android:label="Braindump">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Preferences" android:label="Preferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="TaskListActivity" android:label="HM TaskList">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.nerdcircus.android.hiveminder.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- DEBUG only - tasklist no longer needs to appear in the launcher
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
                <meta-data android:name="android.app.searchable" 
                    android:resource="@xml/searchable" />
        </activity>
        <!--
        <activity android:name="Test" android:label="test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
    </application>
</manifest> 
